<%- include('includes/header.ejs') %>
<%- include('includes/navigation.ejs') %>
<!-- start banner Area -->
<section class="about-banner relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Hotel Packages
				</h1>
				<p class="text-white link-nav"><a href="/">Home </a> <span class="lnr lnr-arrow-right"></span>
					<a href="packages.html"> Hotel Packages</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start hot-deal Area -->
<section class="hot-deal-area section-gap">
	<div class="container">
		<section class="ftco-section ftco-degree-bg">
			<div class="row">
				<div class="col-lg-8">
				</div>
				<div class="col-lg-4">
					<section class="destinations-area bg-white">
						<div class="row">
							<div class="col-lg-12 mb-4">
								<div class="single-destinations">
									<div class="thumb">
										<img class="img-fluid" src="/images/packages/d2.jpg" alt="">
									</div>
									<div class="details">
										<h4>Holiday Sea beach Blue Ocean</h4>
										<p>
											United staes of America
										</p>
										<li class="d-flex justify-content-between align-items-center">
											<span>Rooms starting at </span>
											<span style="color:#2f89fc"> $40
												/night</span>
										</li>
										<ul class="package-list">
											<li class="d-flex justify-content-between align-items-center">
												<span>Far far away, behind the word mountains, far from the
													countries</span>
											</li>
											<li class="d-flex justify-content-between align-items-center">
												<span>Price per person</span>
												<a href="#" class="btn btn-sm btn-book">book now</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section>
	</div>
</section>
</div>
</section>
<!-- End hot-deal Area -->

<%- include('includes/footer.ejs') %>